KAFKAJS_NO_PARTITIONER_WARNING=1
# Current runtime environment
NODE_ENV=development

# Database settings
DATABASE_DB=gp
DATABASE_HOST=localhost
DATABASE_USER=gp
DATABASE_PASSWORD=gp
DATABASE_PORT=3307

REDIS_PORT=6377
REDIS_HOST=localhost

HTTP_PORT=3001
SESSION_SECRET=thisisasecret
SESSION_DURATION=86400
API_KEY=1234567890

KSQL_HOST=http://192.168.1.201
KSQL_PORT=8088
KSQL_WHITELIST_TABLE=WHITELISTED_THINGIES

QUESTDB_HOST=192.168.1.201
QUESTDB_PORT=8812

KAFKA_WHITELIST_KEY_SCHEMA_VERSION=1
KAFKA_WHITELIST_VALUE_SCHEMA_VERSION=1