# Current runtime environment
NODE_ENV=development


# Database settings
DATABASE_DB=gp
DATABASE_HOST=localhost
DATABASE_USER=gp
DATABASE_PASSWORD=gp
DATABASE_PORT=3637

REDIS_PORT=3113
REDIS_HOST=localhost